:root{
    --green-background: #266150;
    --font-family: "Goudy Bookletter 1911", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.nav-bar nav {
    display: block;
    background-color: var(--green-background);
    font: var(--font-family);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    color: white;
    text-align: right;
    font-size: 20px;
    border-bottom-style: inset;
    border-color: #ddaf94;
    border-width: 10px;
}
div {
    padding: 8px;
}

.nav-bar nav li{
    display: flex;
    padding: 25px;
}

.nav-bar nav ul li {
    display: inline;
    font: var(--text-colour)
}

body {
    font-family: var(--font-family);
    position: relative;
    background-color: whitesmoke;
    text-align: center;
}

h1, h2 {
    font-family: var(--font-family);
    font-size: 35px;
    margin: 20px;
}

main {
   background-color: whitesmoke;
}

.coming-soon-element {
padding-block: 20px;
}

p {
    padding-bottom: 25px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.contact-section {
    background-color: #e8cebf;
    border-top-style: inset;
    border-color: #ddaf94;
    border-width: 8px;
    padding-bottom: 8px;
}

#name, #email {
box-sizing: border-box;
border-color: black;
width: 350px;
padding-bottom: 8px;
}

.contact-text {
font-size: 20px;
border-style: double;
border-width: 8px 8px 8px 8px;
border-color: rgb(92, 88, 88) ;
border-radius: 20px 20px 20px 20px;
padding-top: 10px;
padding-bottom: 10px;
width: 750px;
margin: auto;
list-style-type: none;
}

button {
    height: 45px;
    width: 135px;
    font-size: 20px;
    color: white;
    background-color: rgb(92, 88, 88);
}

footer {
    background-color: var(--green-background);
    font: var(--font-family);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    justify-content: space-between;
    color: white;
    text-align: center;
    font-size: 20px;
    border-bottom-style: inset;
    border-color: rgb(92, 88, 88);
    border-width: 10px;

}